@model Todo

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" />
    </div>
    <div>
        <label asp-for="CreatedDate"></label>
        <input asp-for="CreatedDate" />
        <span asp-validation-for="CreatedDate" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
